/*  */
#contenido {
    background-image: url(../img/portada.png);
    height: 945px;
    z-index: 2;
}

#contenido .navbar{
    background: transparent !important ;
}

#contenido ul{
    margin-left: 38px;
}
#contenido  img{
    margin-left: 150px;
    margin-top: 3px;
}

#contenido ul li a{
    color: #191970;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 850;
    transition: .4s;
}


#contenido ul li a:hover{
    color: rgb(238, 241, 7);
}


/* despues del navbar */

#contenido .base-1{
    margin-top: 158px;
}

#contenido .base-2 i{
    font-size: 21px;
    color: white;
    display: flex;
    margin-left: 29px;
}

/* #contenido .play i{
    position: absolute;
    left: 400px;
    top: 236px;
    font-weight: 40;
} */

#contenido .base-2 i h2{
    font-weight: 50;
    font-size: 17px;
    margin-left: 10px;
}

#contenido .base-2{
    margin-left: 137px;
}

#contenido .base-2 h3{
    font-size: 106px;
    text-align: left;
    color: white;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 34px;
}

#contenido .base-2 .num1{

    background-color: #007bff; /* Azul claro, similar al de la imagen */
    color: #fff; /* Blanco para el texto */
    border: none; /* Quita el borde por defecto */
    padding: 15px 30px; /* Espacio interno del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease; /* Transición suave para los efectos hover */  
    margin-left: 10px; 
    margin-bottom: 100px;   
      
}

#contenido .base-2 .num1:hover {
    background-color: #0069d9; /* Azul más oscuro al pasar el mouse */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* button {
    display: flex;
} */

#contenido .base-2 .num2{
    /* display: flex; */
    background-color: white; /* Azul claro, similar al de la imagen */
    color: #007bff; /* Blanco para el texto */
    border: none; /* Quita el borde por defecto */
    padding: 15px 30px; /* Espacio interno del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease; /* Transición suave para los efectos hover */  
    margin: 10px;    
      
}

#contenido .base-2 .num2:hover {
    background-color: rgba(95, 95, 95, 0.925); /* Azul más oscuro al pasar el mouse */
    box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.2); /* Sombra sutil */

}

#contenido .base-2 .num2 i{
    
    color: #007bff;
}

/* main */

#base-1{
    height: 945px;
    background: #191970;   
}

/* deporte */

#base-1 .primero{
    background: #007bff;
    margin-left: 80px;
    margin-right: 10px;
    padding: 3px 15px;
    position: relative;
    bottom: 81px;
    width: 30%;
    height: 512px;
    
}

#base-1 .primero .pajaro{
    display: flex;
    color: #fff;
    margin-left: 81px;
    margin-top: 97px;
    align-items: center;
}

#base-1 .primero i{
    margin-top: 5px;
    font-size: 32px;
}

#base-1 .primero i h3{
    margin-left: 226px;
    font-size: 12px;
    margin-top: 5px;
}

#base-1 .parrafo-1 p{
    color: white;
    font-size: 32px;
    margin-left: 33px;
    margin-bottom: 11px;
}

#base-1 .parrafo-1 p b{
    color: #191970;
}

#base-1 .parrafo-1 img{
    position: absolute;
    top: 312px;
    left: 53px;
    width: 394px;
}




/* gamer */

#base-1 .segundo{
    background: #4169E1;
    padding: 3px 15px;
    position: relative;
    bottom: 81px;
    width: 30%;
    margin: 0 10px;
    height: 609px;
}

#base-1 .segundo img{
    position: absolute;
    bottom: 395px;
    left: 53px;
    width: 394px;
}

#base-1 .segundo h4{
    color: white;
    font-size: 11px;
    margin-left: 25px;
    margin-top: 271px;
    text-align: left;
}

#base-1 .segundo h5{
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 25px;
    margin-top: 20px;
}

#base-1 .segundo p{
    color: white;
    text-align: left;
    margin-left: 25px;
    font-size: 17px;
    margin-top: 25px;
}

#base-1 .segundo h6{
    color: white;
    display: flex;
    margin-left: 25px;
    font-size: 14px;
    font-weight: bold;
}

#base-1 .segundo h6 b{
    margin-left: 179px;
    opacity: 0.3;
}

#base-1 .segundo h6 i{
    margin: 0 10px;
    opacity: 0.3;
}


/* solo texto */

#base-1 .tercero{
    background: #191970;
    margin-left: 1px;
    padding: 3px 15px;
    position: relative;
    bottom: 81px;
    width: 30%;
    margin: 0 10px;
    z-index: 1;
}

#base-1 .circulos{
    display: flex; 
    margin-left: 40px;
    margin-top: 16px;
    z-index: 4;
}



#base-1 .tercero .circulos i{
    color: white;
    font-size: 15px;
    margin-top: 9px;
    margin-right: 10px;
}

#base-1 .tercero .circulos .punto{
    font-size: 10px;
}

#base-1 .tercero .circulos h3{
    color: white;
    opacity: 0.3;
    margin-left: 180px;
    margin-top: 9px;
    font-size: 15px;   
}

#base-1 .tercero h2{
    color: white;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 180px;
    margin-left: 30px;

}

#base-1 .tercero p{
    margin-left: 30px;
    margin-top:20px;
    color: white;

}

#base-1 .tercero button{
    margin-left: 40px;
    background: #007bff;
    color: #fff;
    border: #191970;
    padding: 10px 20px;
    margin-top: 20px;
    transition: .4s;
}

#base-1 .tercero button:hover{
    background: white;
    color: #4169E1;
    border: #fff;
}

/* base2 */

#base-2{
    height: 945px;
    background: #191970;
    position: relative;  
}

/* #base-2 .parte-1{
    background: red;
} */

#base-2 .parte-1 h2{
    font-size: 100px;
    color: white;
    text-align: left;
    margin-left: 72px;
    margin-top: 200px;
}

#base-2 .parte-1 .btn1{
    margin-left: 92px;
    margin-top:10px;
    background: #007bff;
    color: white;
    font-weight: bold;
    border: 2px #191970 solid;
    padding: 15px 20px;
    font-size: 15px;
}

#base-2 .parte-1 .btn1:hover{
    background: transparent;
    color: #4169E1;
    font-weight: 700;
    border: 2px black solid;
}

#base-2 .parte-1 .btn2{
    /* margin-left: 72px; */
    margin-top:10px;
    background: transparent;
    border: none;
    color: white;
    padding: 15px 20px;
    font-size: 20px;   
}

#base-2 .parte-1 .btn2:hover{
    color: #4169E1;
}


#base-2 .parte-2{
    background: #0c0c4b;
    right: 30px;
    width: 989px;
    position: absolute;
    
}


#base-2 .parte-2 img{
    margin-left: 40px;
    margin-top: 20px;

}

#base-2 .parte-2 h3{
    margin-top: 20px;
    font-weight: bold;
    color: white;
    font-size: 35px;
    margin-left: 84px;
}

#base-2 .parte-2 h4{
    margin-top: 20px;
    font-weight: bold;
    color: #007bff;
    margin-left: 20px;
    font-size: 35px;
}