
#contenido {
    background-image: url(../img/portada.png);
    height: 945px;
}

#contenido .navbar{
    background: transparent !important ;
}

#contenido ul{
    margin-left: 38px;
}
#contenido  img{
    margin-left: 150px;
    margin-top: 3px;
}

#contenido ul li a{
    color: #191970;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 850;
    transition: .4s;
}


#contenido ul li a:hover{
    color: rgb(238, 241, 7);
}


/* despues del navbar */

#contenido .base-1{
    margin-top: 158px;
}

#contenido .base-2 i{
    font-size: 21px;
    color: white;
    display: flex;
}

/* #contenido .play i{
    position: absolute;
    left: 400px;
    top: 236px;
    font-weight: 40;
} */

#contenido .base-2 i h2{
    font-weight: 50;
    font-size: 17px;
    margin-left: 10px;
}

#contenido .base-2{
    margin-left: 137px;
}

#contenido .base-2 h3{
    font-size: 106px;
    text-align: left;
    color: white;
    font-weight: 700;
    margin-top: 21px;
    margin-bottom: 34px;
}

#contenido .base-2 .num1{

    background-color: #007bff; /* Azul claro, similar al de la imagen */
    color: #fff; /* Blanco para el texto */
    border: none; /* Quita el borde por defecto */
    padding: 15px 30px; /* Espacio interno del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease; /* Transición suave para los efectos hover */  
    margin-left: 10px; 
    margin-bottom: 100px;   
      
}

#contenido .base-2 .num1:hover {
    background-color: #0069d9; /* Azul más oscuro al pasar el mouse */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* button {
    display: flex;
} */

#contenido .base-2 .num2{
    /* display: flex; */
    background-color: white; /* Azul claro, similar al de la imagen */
    color: #007bff; /* Blanco para el texto */
    border: none; /* Quita el borde por defecto */
    padding: 15px 30px; /* Espacio interno del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: all 0.3s ease; /* Transición suave para los efectos hover */  
    margin: 10px;    
      
}

#contenido .base-2 .num2:hover {
    background-color: rgba(95, 95, 95, 0.925); /* Azul más oscuro al pasar el mouse */
    box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.2); /* Sombra sutil */

}

#contenido .base-2 .num2 i{
    
    color: #007bff;
}

